@import "@/styles/variables.module.scss";

.section {
	width: 100%;
	background: $white-brand-color;

	.container {
		max-width: 1440px;
		margin: auto;
		padding: 3rem 1rem;
		display: flex;
		flex-direction: column;
		gap: 2rem;

		@include large {
			padding: 4rem;
			gap: 3rem;
		}

		.section-title {
			text-align: center;
			font-size: 1.75rem;
			font-weight: 700;
			color: $primary-color;
			position: relative;

			@include large {
				font-size: 2rem;
			}

			img {
				position: absolute;
				bottom: -1.5rem;
				left: 50%;
				transform: translate(-50%, 0);
				width: 20rem;

				@include large {
					width: 29.5rem;
				}
			}
		}

		.section-description {
			text-align: center;
			font-size: 1rem;
			font-weight: 600;
			color: $gray-dark-brand-color;

			@include large {
				font-size: 1.5rem;
			}

			span {
				font-weight: 700;
				color: $red-brand-color;
			}
		}

		.steps {
			display: grid;
			grid-template-columns: repeat(1, minmax(0, 1fr));
			gap: 3.5rem;

			@include desktop {
				grid-template-columns: repeat(3, minmax(0, 1fr));
				gap: 0;
			}

			article {
				display: flex;
				flex-direction: column;
				align-items: center;
				text-align: center;
				gap: 0.75rem;

				@include large {
					gap: 2rem;
				}

				.step-header {
					font-size: 1.5rem;
					font-weight: 700;
					color: $primary-color;

					@include large {
						font-size: 2rem;
					}
				}

				.step-icon {
					width: 15.25rem;
					height: 15.25rem;
					background: $primary-color;
					border-radius: 100%;
					display: flex;
					justify-content: center;
					align-items: center;
					border: 5px solid $gray-brand-color;
				}

				.step-title {
					font-size: 1.5rem;
					font-weight: 700;
					color: $primary-color;

					@include large {
						font-size: 2rem;
					}
				}

				.step-description {
					font-size: 1rem;
					font-weight: 600;
					color: $gray-dark-brand-color;

					@include large {
						font-size: 1.125rem;
					}
				}
			}
		}
	}
}
